# Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [1]:
#!conda install lxml -y

In [2]:
#conda update -n base -c defaults conda

# Python Arithmetic Operators

In [3]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [5]:
a : int = 11
b : int = 3

print(a % 3)

2

In [6]:
print(2**2)
print(2**3)

4
8

In [7]:
print(12 / 3)

4.0

In [8]:
print(14.8 / 3)

4.933333333333334

In [9]:
print( 14.8 // 3)

4.0

In [10]:
print( 14 // 3)

4

# Python Assignment Operators

In [11]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [12]:
a : int = 7
print(b := 7)

7

In [13]:
# = assign
a : int = 7
b : int = 2

In [14]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [15]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [16]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [17]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [18]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [19]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [20]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

False

In [21]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [22]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [23]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [24]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [25]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [26]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [27]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [28]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [29]:
# !=
a : int = 7
b : int = 7

print(a => b)

SyntaxError: invalid syntax (2966280906.py, line 5)

In [30]:
ord('A')

65

In [31]:
chr(65)

'A'

In [32]:
a : str = 'A'
b : str = 'B'

print(b >= a)

True

In [33]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

True

# Python Logical Operators

In [34]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [35]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [36]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [37]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [38]:
not True

False

In [39]:
name : str = "Sir Qasim"
print(not name=="Sir Qasim")
# name == "Sir Qasim"
# "Qasim" == "Sir Qasim"
# True

False

In [40]:
name : str = "Sir Qasim"
print(name!="Sir Qasim")
# name == "Sir Qasim"
# "Qasim" == "Sir Qasim"

False

# Python Identity Operators

In [41]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [42]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

1967769230640
1967769230640

In [43]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

1967769230640
1967841932528

False

In [44]:
x is z

True

In [45]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

1967769230640
1967769230640

False

# Python Membership Operators

In [46]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [47]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [48]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [49]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [50]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [51]:
names : list[str] = ['Sir Zia','Sir Inam', 'Sir Qasim']

uinput : str = input("Enter your name")

uinput in names

Enter your nameSir Qasim

True

In [52]:
names : list[str] = ['Sir Zia','Sir Inam', 'Sir Qasim']

uinput : str = input("Enter your name")

uinput not in names

Enter your nameSir Muhammad Qasim

True

In [53]:
uinput not in names

True

# PEMDAS

In [54]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [55]:
print((6 + 3) - (6 + 3))

0

In [56]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [57]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'Sir qasim', 7, 3.0

print(a)
print(b)
print(c)

Sir qasim
7
3.0

In [58]:
'Sir qasim', 7, 3.0

('Sir qasim', 7, 3.0)

In [59]:
a, b, c = ('Sir qasim', 7, 3.0)
print(a)
print(b)
print(c)

Sir qasim
7
3.0

In [60]:
data = ('Sir qasim', 7, 3.0)
print(data[0], data[1], data[2])

Sir qasim 7 3.0

In [61]:
data = ('Sir qasim', 7, 3.0)
print(*data)

Sir qasim 7 3.0

In [62]:
2 * 2
"a" * 3

'aaa'

In [63]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [64]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [65]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Exercises Chapter 2

2-9. Number Eight: Write addition, subtraction, multiplication, and division 
operations that each result in the number 8. Be sure to enclose your operations 
in print() calls to see the results. You should create four lines that look like this:
print(5+3)Your output should be four lines, with the number 8 appearing once on 
each line.

In [66]:
print(4*2)
print(7+1)
print(11-3)
print(80/10)

8
8
8
8.0

2-10. Favorite Number: Use a variable to represent your favorite number. Then, 
using that variable, create a message that reveals your favorite number. Print 
that message

In [67]:
num = 18
show = f"My favorite number is {num}."

print(show)

My favorite number is 18.

2-11. Adding Comments: Choose two of the programs you’ve written, and 
add at least one comment to each. If you don’t have anything specific to write 
because your programs are too simple at this point, just add your name and the 
current date at the top of each program file. Then write one sentence describing 
what the program does.

2-12. Zen of Python: Enter import this into a Python terminal session and skim 
through the additional principles

In [68]:
import this