# String Data type in python

In [1]:
print("name")

name

In [2]:
print(name)  # gave error bec name is variable here wich is not defined till now

NameError: name 'name' is not defined

In [3]:
name : str = "PIAIC Batch 36-37 Student"
print(name)

PIAIC Batch 36-37 Student

In [4]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "PIAIC Batch 36-37 Student"
print(type(name))
print(name)

<class 'str'>
PIAIC Batch 36-37 Student

In [5]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'PIAIC Batch 36-37 Student'
print(type(name))
print(name)

<class 'str'>
PIAIC Batch 36-37 Student

In [6]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

In [7]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [8]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [9]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [10]:
message : str = "PIAIC Student Card \n father's Name"

In [11]:
"a" + "b" + "c"

'abc'

In [12]:
"a" + "7"

'a7'

In [13]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [14]:
"a" + str(7)

'a7'

In [15]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

PIAIC Student Card
Student Name: Sir Muhammad Qasim
Age:30

In [16]:
print(7 + 8 + 2)

17

# "\" line continue

In [17]:
print(7 + \
      8 + \
        2)

17

In [18]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: Sir Muhammad Qasim
Age:30
Education: Master in Data Science

# Define multiline string """ """, ''' '''

In [19]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

# F-string pthon

In [20]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [21]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [22]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 10) (2468882890.py, line 10)

In [23]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

# F-string and Jinja style

In [24]:
f"""
student name {name}
"""

'\nstudent name Sir Muhammad Qasim\n'

In [25]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [26]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [28]:
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [29]:
name : str = "Sir MUhAMMad QaSiM"

print(name.capitalize())
print(name.lower())

Sir muhammad qasim
sir muhammad qasim

In [30]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

In [31]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Aslam
Father's Name: Sir Muhammad Qasim
Age: Master in Data Science
Education : 30

In [32]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [33]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

# Recommended below two f-string format

In [34]:
name : str = 'Sir Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Sir Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [35]:
student_code : str = """
print("Name is Sir Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

Name is Sir Muhammad Qasim
15

# Explore String methods and attributes
pre-define global function we have used

print
type
id
dir
len

In [36]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [37]:
name : str = "Sir MuHammAd QasIm"

#variable_name.method()
print(name.capitalize())

Sir muhammad qasim

In [38]:
name : str = "Sir MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.casefold())

Sir MuHammAd QasIm
sir muhammad qasim

In [39]:
name : str = "Sir MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.lower())

Sir MuHammAd QasIm
sir muhammad qasim

In [40]:
name : str = "     Sir MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

'     Sir MuHammAd QasIm         '

'Sir MuHammAd QasIm         '

In [41]:
name : str = "      Sir MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.rstrip())

'      Sir MuHammAd QasIm         '

'      Sir MuHammAd QasIm'

In [42]:
name : str = "      Sir MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      Sir MuHammAd QasIm         '

'Sir MuHammAd QasIm'

In [43]:
name : str = "   Sir    MuHammAd       QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'   Sir    MuHammAd       QasIm         '

'Sir    MuHammAd       QasIm'

In [44]:
import re

name : str = "  Sir    MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'  Sir    MuHammAd           QasIm         '

'Sir MuHammAd QasIm'

In [45]:
name : str = "Sir MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

'Sir MuHammAd QasIm'

'Sir Muhammad Qasim'

In [46]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [47]:
\n
\t
\b

SyntaxError: unexpected character after line continuation character (2003590270.py, line 1)

In [48]:
print("Name:\t\t Sir Muhammad Qasim")

Name:		 Sir Muhammad Qasim

In [49]:
print("Name:\nSir Muhammad Qasim")

Name:
Sir Muhammad Qasim

In [50]:
print("Name:\bSir Muhammad Qasim")

Name:Sir Muhammad Qasim

In [51]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [52]:
1name : str = "Sir Qasim"
print(1name)

SyntaxError: invalid decimal literal (1891515082.py, line 1)

In [53]:
_1name : str = "Sir Qasim"
print(_1name)

Sir Qasim

In [54]:
piaic student name : str = "Sir Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (1034378325.py, line 1)

In [55]:
piaic_student_name : str = "Sir Muhammad Qasim"
print(piaic_student_name)

Sir Muhammad Qasim

# Exercises Chapter 2

# Save each of the following exercises as a separate file, with a name like name_cases.py. If you get stuck, take a break or see the suggestions in Appendix C.

# 2-3. Personal Message: Use a variable to represent a person’s name, and print a message to that person. Your message should be simple, such as, “Hello Eric, would you like to learn some Python today?”

In [57]:
name : str = "Eric"
    
message : str =f""" Hello {name}, would you like to learn some Python today?"""
    
print(message)

 Hello Eric, would you like to learn some Python today?

# 2-4. Name Cases: Use a variable to represent a person’s name, and then print that person’s name in lowercase, uppercase, and title case.

In [58]:
name = "eric matthes"
print(name.upper())
print(name.lower())
print(name.title())

ERIC MATTHES
eric matthes
Eric Matthes

# 2-5. Famous Quote: Find a quote from a famous person you admire. Print the quote and the name of its author. Your output should look something like the following, including the quotation marks:Albert Einstein once said, “A person who never made a mistake never tried anything new.”

In [59]:
print(' Tipu Sultan once said, “Sher ki Aik Din Ki Zindagi, Geedar Ki 100 Saala Zindagi se Behtar Hai.” ')

 Tipu Sultan once said, “Sher ki Aik Din Ki Zindagi, Geedar Ki 100 Saala Zindagi se Behtar Hai.”

# 2-6. Famous Quote 2: Repeat Exercise 2-5, but this time, represent the famous person’s name using a variable called famous_person. Then compose your message and represent it with a new variable called message. Print your message.

In [60]:
f_p : str = "Tipu Sultan"

message : str =f""" {f_p} once said, “Sher ki Aik Din Ki Zindagi, Geedar Ki 100 Saala Zindagi se Behtar Hai.”
"""
print(message)

 Tipu Sultan once said, “Sher ki Aik Din Ki Zindagi, Geedar Ki 100 Saala Zindagi se Behtar Hai.”

# 2-7. Stripping Names: Use a variable to represent a person’s name, and include some whitespace characters at the beginning and end of the name.Make sure you use each character combination, "\t" and "\n", at least once. Print the name once, so the whitespace around the name is displayed.Then print the name using each of the three stripping functions, lstrip(), rstrip(), and strip().

In [61]:
name : str = "    eric matthes   "


display(name.strip())
display(name.rstrip())
display(name.lstrip())

'eric matthes'

'    eric matthes'

'eric matthes   '

# 2-8. File Extensions: Python has a removesuffix() method that works exactly like removeprefix(). Assign the value 'python_notes.txt' to a variable called filename. Then use the removesuffix() method to display the filename without the file extension, like some file browsers do

In [62]:
file_name : str = "python_notes.txt"
file_name.removesuffix('.txt')

'python_notes'